*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: "Bagel Fat One", cursive; */
  font-family: "Grandiflora One", serif;
  background-color: rgba(255, 0, 0, 0.1);
}

.main {
  background-color: rgba(255, 0, 0, 0.1);
}

.section {
  background-color: rgba(255, 0, 0, 0.1);
}

.section:nth-of-type(even) {
  background-color: rgba(0, 20, 255, 0.1);
}
